spring:
  application:
    name: School Api
  datasource:
    url: jdbc:postgresql://localhost:5432/school
    username: admin
    password: 1234
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
        show-sql: true
